/* your beautiful css styling goes here! */

body {
  background: #C4DEAA;
  font-family: Helvetica, Sans-serif;
  font-weight: bold;

}

.player {
  fill: #333399;
}


.scoreboard {
  padding: 10px 10px 10px 10px;
  position: relative;
  right: 40px;
  text-align: right;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

.gameField {
  background: #D6FFFF;
  position: relative;
}

.enemy{}
.container {
  background: white;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
}
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. fill: #FF9999;*/
